html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div#info {
  height: 100%;
  width: 170px;
  background-color: #DDFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
}

div#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 170px;
}

div.group {
  padding: 3px;
  margin: 6px;
  background-color: #FFDDDD;
  border-style: solid;
  border-color: #FFCCCC;
  border-width: 2px;
}

div.field {
  padding: 2px;
}

div#progress {
  width: 100%;
  height: 2.8em;
}

input[type=text].latlng {
  width: 12ex;
  text-align: right;
  margin: 0px 0px 0px auto;
}

label {
  font-weight: bold;
  padding: 0px 1em 0px 0px;
}

canvas#result {
  display: none;
  z-index: 9999;
  position: absolute;
  top: 0px;
  left: 0px;
  border-style: dashed;
  border-color: #0000FF;
}

img#loaded {
  visibility: hidden;
  position: absolute;
  top: 30px;
  left: 700px;
}

input[type=button].cmd {
  position: relative;
  top: -2px;
  left: 4px;
}
