html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div#info {
  height: 100%;
  width: 170px;
  background-color: #DDFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 10pt;
}

div#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 170px;
}

div.group {
  padding: 3px;
  margin: 6px;
  background-color: #DDDDFF;
  border-style: solid;
  border-color: #CCCCFF;
  border-width: 2px;
}

div.title {
  font-weight: bold;
}

div.selected {
  background-color: #FFDDDD;
  border-color: #FFCCCC;
}

div.field {
  padding: 2px;
}

div#progress {
  width: 100%;
}

input[type=text].latlng {
  width: 12ex;
  text-align: right;
  margin: 0px 0px 0px auto;
}

label {
  padding: 0px 1em 0px 0px;
}

canvas#result {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
  border-style: dashed;
  border-color: #0000FF;
}

img#loaded {
  visibility: hidden;
  position: absolute;
  top: 30px;
  left: 700px;
}

input[type=button].cmd {
  position: relative;
  top: -2px;
  left: 4px;
}

div#size ul {
  margin: -0.05em -0.85em;
}

div#dialog2 div#content {
  margin: auto auto auto auto;
  text-align: center;
  vertical-align: middle;
}
